[Desktop Entry]
Name=Quick Screen Recorder
Name[en]=Quick Screen Recorder
Comment=Record screen region with hotkey Super+Shift+R & manage Vault
Exec=/usr/bin/quick-rec
Icon=quick-rec
Terminal=false
Type=Application
Categories=Utility;AudioVideo;Recorder;
Keywords=screen;recorder;capture;region;slop;ffmpeg;vault;video;
StartupNotify=false
